<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crfeb.tbmpt.zsjk.report.mapper.ZsJkReportDgjkycztMapper">

    <!-- 通用查询结果列-->
   <sql id="Base_Column_List">
        
   </sql> 

    <select id="selectDgjkycztList" resultType="ZsJkReportDgjkyczt">
        select
            d.hh,
            d.sgsj,
			<if test="params.tjsj !=null and params.tjsj != ''">
		  		 d.tjsj,
			</if>
			<if test="params.sjctl !=null and params.sjctl != ''">
		  		 d.sjctl,
			</if>
			<if test="params.zjl !=null and params.zjl != ''">
		  		 d.zjl, 
			</if>
			<if test="params.pjjjsd !=null and params.pjjjsd != ''">
		  		 d.pjjjsd,
			</if>
			<if test="params.tysjtj !=null and params.tysjtj != ''">
		  		 d.tysjtj,
			</if>
			d.dgzt,
			d.bz
            from ZSJK_REPORT_DGJKYCZT d
        	<where>
        	1=1
			<if test="params.xmId !=null and params.xmId != ''">
		  		and d.xmId =#{params.xmId}
			</if>
			<if test="params.xlId!=null and params.xlId != ''">
		  		and d.xlId =#{params.xlId}
			</if>
            <if test="params.dgjId!=null and params.dgjId != ''">
		  		and d.dgjId =#{params.dgjId}
			</if>
			<if test="params.kshs!=null and params.kshs != ''">
			     <![CDATA[ and to_number(d.hh) >= to_number(#{params.kshs}) ]]>
			</if>
			<if test="params.jshs!=null and params.jshs != ''">
			     <![CDATA[ and to_number(d.hh) <= to_number(#{params.jshs}) ]]>
			</if>
			     order by to_number(d.hh) 
            </where>
    </select>
    
  
    
    
</mapper>
