<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crfeb.tbmpt.zsjk.jt.mapper.ZsJkJtSgJdXxMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        t.id,t.nd ,t.allXMjdbfb 
    </sql>

    <select id="selectZsJkJtSgJdXxList" resultType="ZsJkJtSgJdXx">
        select
        <include refid="Base_Column_List" />
            from zsjk_jt_sgjdxx t
        <where>
        </where>
    </select>
    
    <select id="selectZsJkJtSgJdXxDataGrid" resultType="ZsJkJtSgJdXx">
        select
        <include refid="Base_Column_List" />
            from zsjk_jt_sgjdxx t
        <where>
        <if test="condition.nd!=null and condition.nd!=''">
        	t.nd =#{condition.nd}
        </if>
        <if test="condition.allXMjdbfb!=null and condition.allXMjdbfb!=''">
        	and t.allXMjdbfb=#{condition.allXMjdbfb}
        </if>
        </where>
    </select>
</mapper>
