<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crfeb.tbmpt.zsjk.plc.mapper.ProPlcBzdwMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		ID, NAME, DWLX, SSXT, DGJLX, MS, BZ
	</sql>

    <select id="selectProPlcBzdwXxList" resultType="ProPlcBzdw">
        select
        <include refid="Base_Column_List" />
            from PRO_PLC_BZDW t
        <where>
        </where>
    </select>
    
    <select id="selectProPlcBzdwDtoXxList" resultType="ProPlcBzdwDto">
        select
        <include refid="Base_Column_List" />
            from PRO_PLC_BZDW t
        <where>
        </where>
    </select>
    
</mapper>