<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crfeb.tbmpt.zsjk.xmb.mapper.ZsJkXmbGpZlWtsXxMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        t.id,t.projectId ,t.sbDate ,t.qualityType ,t.num ,t.miaoshu 
    </sql>

    <select id="selectZsJkXmbGpZlWtsXxList" resultType="ZsJkXmbGpZlWtsXx">
        select
        <include refid="Base_Column_List" />
            from zsjk_xmb_GpZlWtsxx t
        <where>
        </where>
    </select>
    
     <select id="selectZsJkXmbGpZlWtsXxDtoList" resultType="ZsJkXmbGpZlWtsXxDto">
        select
        <include refid="Base_Column_List" />
            from zsjk_xmb_GpZlWtsxx t
        <where>
        
            <if test="condition.projectId!=null and condition.projectId!=''">
       		<![CDATA[ and  t.projectId =#{condition.projectId}]]>
           </if>
           <if test="condition.startTime!=null and condition.startTime!=''">
       		<![CDATA[ and  t.sbDate >=#{condition.startTime}]]>
           </if>
            <if test="condition.endTime!=null and condition.endTime!=''">
       		<![CDATA[ and  t.sbDate <=#{condition.endTime}]]>
           </if>
        </where>
    </select>
</mapper>
