<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crfeb.tbmpt.zsjk.xmb.mapper.ZsJkXmbXmXlXxMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        t.id,t.xmId ,t.xlId ,t.xlMc 
    </sql>

    <select id="selectZsJkXmbXmXlXxList" resultType="ZsJkXmbXmXlXx">
        select
        <include refid="Base_Column_List" />
            from zsjk_xmb_XmXlxx t
        <where>
        </where>
    </select>
</mapper>
