<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crfeb.tbmpt.gpztcl.base.mapper.DaoXiangMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        t.recordstatus,
		t.odate,
		t.stime,
		t.sdate,
		t.advanceno,
		t.bt1nr,
		t.bt1y,
		t.bt1x,
		t.bt1z,
		t.bt1st,
		t.bt2nr,
		t.bt2y,
		t.bt2x,
		t.bt2z,
		t.bt2st,
		t.laserstnr,
		t.lasersty,
		t.laserstx,
		t.laserstz,
		t.laserstst,
		t.laserst2nr,
		t.laserst2y,
		t.laserst2x,
		t.laserst2z,
		t.laserst2st,
		t.dyels,
		t.dzels,
		t.rollels,
		t.nickels,
		t.gierels,
		t.ych,
		t.xch,
		t.zch,
		t.hosch,
		t.vosch,
		t.stch,
		t.riwilaserels,
		t.riwilaserbt,
		t.hdlaserels,
		t.hdlaserbt,
		t.vzlaserels,
		t.vzlaserbt,
		t.ymav,
		t.xmav,
		t.zmav,
		t.hosmav,
		t.vosmav,
		t.stmav,
		t.deltattbm,
		t.deltavtbm,
		t.deltatch,
		t.deltavch,
		t.gierch,
		t.nickch,
		t.amplitude,
		t.hosmah,
		t.vosmah,
		t.stmah,
		t.ymah,
		t.xmah,
		t.zmah,
		t.rbtyp,
		t.rbssp,
		t.rbsta,
		t.rbhos,
		t.rbvos,
		t.rby,
		t.rbx,
		t.rbz,
		t.rbsslo,
		t.rbsslr,
		t.rbsslu,
		t.rbssll,
		t.rbdeltat,
		t.rbdeltav,
		t.rbstat,
		t.sslo,
		t.sslr,
		t.sslu,
		t.ssll,
		t.rbdir,
		t.vtpo,
		t.vtpr,
		t.vtpl,
		t.vtpu,
		t.stpo,
		t.stpr,
		t.stpl,
		t.stpu,
		t.sgelo,
		t.sgelr,
		t.sgell,
		t.sgelu,
		t.ypp,
		t.xpp,
		t.zpp,
		t.hospp,
		t.vospp,
		t.stpp,
		t.ycw,
		t.xcw,
		t.zcw,
		t.hoscw,
		t.voscw,
		t.stcw,
		t.projectid,
		t.rbhosring,
		t.rbvosring,
		t.vtp2o,
		t.vtp2r,
		t.vtp2u,
		t.vtp2l,
		t.postrb_sta,
		t.postrb_hos,
		t.postrb_vos,
		t.postrb_x,
		t.postrb_y,
		t.postrb_z,
		t.postrb_sslo,
		t.postrb_sslr,
		t.postrb_sslu,
		t.postrb_ssll,
		t.postrb_vtpo,
		t.postrb_vtpr,
		t.postrb_vtpu,
		t.postrb_vtpl,
		t.createUserId,
		t.createTime
    </sql>
    <select id="selectDaoXiangList" resultType="DaoXiang">
        select
        <include refid="Base_Column_List" />
            from GPZTCL_DAOXIANG t
        <where>
           <if test="condition.advanceno!=null and condition.advanceno!=''">
       		 and  t.advanceno = '${condition.advanceno}'
        	</if>
        </where>
    </select>
    <delete id="deleteAll">
       delete from GPZTCL_DAOXIANG
    
    </delete>
</mapper>
