<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crfeb.tbmpt.simple.mapper.TestMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, name, seq, description, status
    </sql>

    <select id="selectAll" resultType="Test">
        select
        <include refid="Base_Column_List"/>
        from simple_test order by seq
    </select>
    <select id="selectRoleList" resultType="Test">
        select
        <include refid="Base_Column_List"/>
        from simple_test
        order by ${sort} ${order}
    </select>
</mapper>