<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crfeb.tbmpt.aqsc.base.mapper.WorklogMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        t.id,t.workDay ,t.content ,
        t.create_user as createUser,
        t.create_username as createUsername,
        t.create_orgz as createOrgz,
        t.create_orgzname as createOrgzname,
        t.create_time as createTime,
        t.update_user as updateUser,
        t.update_username as updateUsername,
        t.update_orgz as updateOrgz,
        t.update_orgzname as updateOrgzname,
        t.update_time as updateTime
    </sql>

    <select id="selectWorklogList" resultType="Worklog">
        select
        <include refid="Base_Column_List" />
            from AQSC_WORKLOG t
        <where>
        	<if test="condition.content!=null and condition.content!=''">
       			and  t.content like '%${condition.content}%'
        	</if>
        	<if test="condition.createUser!=null and condition.createUser!=''">
       			and  t.create_user = #{condition.createUser}
        	</if>
        	<if test="condition.createUsername!=null and condition.createUsername!=''">
       			and  t.create_username like '%${condition.createUsername}%'
        	</if>
        	<if test="condition.createOrgzname!=null and condition.createOrgzname!=''">
       			and  t.create_orgzname like '%${condition.createOrgzname}%'
        	</if>
        	<if test="condition.starDay!=null and condition.starDay!=''">
        		<![CDATA[ and t.workDay >= #{condition.starDay} ]]>
        	</if>
        	<if test="condition.endDay!=null and condition.endDay!=''">
       			<![CDATA[ and t.workDay <= #{condition.endDay} ]]>
        	</if>
        	${condition.sqlPurview}
        </where>
        	 order by t.workDay desc
    </select>
</mapper>
